# Database
DATABASE_URL="postgresql://user:password@localhost:5432/cards_traktor"

# NextAuth
NEXTAUTH_SECRET="tu-secreto-aqui-genera-uno-con-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

# App
NODE_ENV="development"
